* {
    font-family: 'Consolas', monospace;
    margin: 0;
    padding: 0;
}
body, html {
    background: #fff;
    color: #000;
    font-weight: 100;
}
section {
    margin: 0.5em;
    font-size: 22px;
}
p, section {
    font-size: 19px;
}
.container {
    max-width: 1024px;
    width: 100%;
    margin: 1em auto;
    padding: 1em;
}

.title {
    font-weight: 100; 
    font-size: 25px;
}
.subtitle {
    font-weight: 600;
    font-size: 20px;
    color: #000;
}
.description {
    text-align: justify;
    font-weight: 100 !important;
}

.row {
    display: flex;
}
.col {
    flex: 1;
    text-align: justify;
}